*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, "Gill Sans" sans-serif;
}

body{
  background-image: linear-gradient(90deg, rgb(243, 199, 185) -10%, #FFA500 50%, rgb(243, 199, 185) 110%);
  text-align: center;
}

h1{
    margin-top: 15px;
    padding: 5px;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: #FFD166;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 5px;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    margin: 10px;
    color: #a54500;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
}

