*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-image: linear-gradient(55deg, rgba(255, 149, 0, 0.94) 0%, yellow 50%, rgba(255, 149, 0, 0.94) 100%); /* Orange to yellow to orange */
}

nav ul li{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

section{
    background-color: rgb(255, 233, 199);
}